<div class="podcasts-page">

  <h1>Podcast Recommendations 🎧</h1>

      <div class="card-container2">
        <p>As I very briefly mentioned on the 'about' page, I am from a small city in the North East of the UK, Newcastle Upon Tyne.
        Until I started to work in the <b>Investment Management</b> industry at the age of 24, I had no clue about finance and how to make money work for you.
        I'd always known how to work hard and earn money, but I can honestly say that the only financial education I had was <b>"try not to get into credit card debt."</b>
        I also turned 16 in 2007, which was the year of the <b>Great Financial Crisis</b>, the North East of England was hit hard and finding my first part-time job while I studied for my A-Levels felt impossible
        (I did get a job eventually). But for me I think it really meant the start of my financial freedom was tainted by <b>scarcity mentality</b>.

        Here are the <b>top five</b> things I wish I'd learned and acted on sooner withr regards to <b>personal finance.</b></p>
      </div>

<div class="podcast-card">
  <img src="https://i.scdn.co/image/ab6765630000ba8af64df2b62fd71e6e6cca0b9f"/>
    <div class="podcast-infos">
      <h2>1. The Receipts</h2>
      <a href="https://open.spotify.com/show/3GMZiZnqL4Hib6DD5PGhdj?si=2b7afbd8d5b44b74" target="_blank">🔗Listen on Spotify</a>
      <p>Description from me</p>
    </div>
  </div>

<div class="podcast-card">
  <%= image_tag "MTGM.png", alt: "MTGM" %>
    <div class="podcast-infos">
      <h2>2. My Therapist Ghosted Me</h2>
      <a href="https://open.spotify.com/show/3BxNO3Nxr3aWSaEAX2DjOm?si=6dd9f478487a4f62" target="_blank">🔗Listen on Spotify</a>
      <p>Description from me</p>
    </div>
</div>

<div class="podcast-card">
  <%= image_tag "DOAC.png", alt: "DOAC" %>
    <div class="podcast-infos">
      <h2>3. The Diary of a CEO</h2>
      <a href="https://open.spotify.com/show/7iQXmUT7XGuZSzAMjoNWlX?si=8a4d73aac1924264" target="_blank">🔗Listen on Spotify</a>
      <p>Description from me</p>
    </div>
  </div>

<div class="podcast-card">
  <%= image_tag "OA.png", alt: "OA" %>
    <div class="podcast-infos">
      <h2>4. Olivia Attwood's So Wrong It's Right</h2>
      <a href="https://open.spotify.com/show/5exRz2o42SCXf3PFMpH1A0?si=95cc2e637fe144cd"> target="_blank"🔗Listen on Spotify</a>
      <p>Description from me</p>
    </div>
  </div>

  <div class="podcast-card">
    <%= image_tag "LR.png", alt: "LR" %>
      <div class="podcast-infos">
        <h2>5. Let's Romanticise</h2>
        <a href="https://open.spotify.com/show/1se5dmrzBnJ4NcjvKkGf6S?si=9e8de4abfa954ee6" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

  <div class="card-container2">
    <p>Text from me</p>
  </div>

  <h2>Personal Finance</h2>

  <div class="podcast-card">
    <%= image_tag "GTI.png", alt: "GTI" %>
      <div class="podcast-infos">
        <h2>Girls That Invest</h2>
        <a href="https://open.spotify.com/show/4jWkbLYqVv93FjLkAcvZ1y?si=ee1194126ae44368" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

<div class="podcast-card">
  <img src="https://i.scdn.co/image/ab6765630000ba8a3b75e52d34c6c1987f31b572" />
      <div class="podcast-infos">
        <h2>Money Clinic with Claer Barrett</h2>
        <a href="https://open.spotify.com/show/59X8JGDvVl5t4Tqscl8qLK?si=d0d8bad49e174a30" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

<h2>Politics</h2>

  <div class="podcast-card">
    <%= image_tag "na.png", alt: "na" %>
      <div class="podcast-infos">
        <h2>The News Agents</h2>
        <a href="https://open.spotify.com/show/0zXLdM0YV1ukb8p8WzEG6D?si=f44b437060844574" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

<h2>Bubblegum Fun</h2>

  <div class="podcast-card">
    <img src="https://i.scdn.co/image/ab6765630000ba8adefcc3769267d488e03693fa" />
      <div class="podcast-infos">
        <h2>Back to the Beack with Kristin and Stephen</h2>
        <a href="https://open.spotify.com/show/6ScuO5ZGGzuMsBlBvpUrdk?si=1f3c75de8eb44b4c" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

  <div class="podcast-card">
    <%= image_tag "cc.png", alt: "cc" %>
      <div class="podcast-infos">
        <h2>Closet Confessions</h2>
        <a href="https://open.spotify.com/show/3VYwalUElGauiYi3jdEdoL?si=1c89f28565aa4e38" target="_blank"> 🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

  <div class="podcast-card">
    <%= image_tag "CE.png", alt: "ce" %>
      <div class="podcast-infos">
        <h2>Comfort Eating with Grace Dent</h2>
        <a href="https://open.spotify.com/show/5fMtMMKSlUoDuxhd3a3IS0?si=91ebd946d4884fe4" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

  <div class="podcast-card">
    <%= image_tag "fe.png", alt: "fe" %>
      <div class="podcast-infos">
        <h2>Exactly. With Florence Given</h2>
        <a href="https://open.spotify.com/show/4ktxLUsx2cuG3mHm3Q5pon?si=38c466561d214bfb" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

  <div class="podcast-card">
    <%= image_tag "lttp.png", alt: "lttp" %>
      <div class="podcast-infos">
        <h2>Late to the Party</h2>
        <a href="https://open.spotify.com/show/7KuXpHU1p0cNx6SVdJq6vD?si=0f36950e56f74dfd" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

  <div class="podcast-card">
    <img src="https://i.scdn.co/image/ab6765630000ba8a5c7f8d185ef7afdcb4030ac0" />
      <div class="podcast-infos">
        <h2>Pop Culture with Chanté Joseph</h2>
        <a href="https://open.spotify.com/show/1lq14iMW0wLxM1YgOxz0VZ?si=1f17c08837f2422d" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

  <div class="podcast-card">
    <img src="https://is1-ssl.mzstatic.com/image/thumb/Podcasts125/v4/94/42/6f/94426fc6-dd20-067c-e207-407d35adfb5e/mza_1279478092478978048.jpg/536x0w.webp" />
      <div class="podcast-infos">
        <h2>Sentimental Garbage</h2>
        <a href="https://open.spotify.com/show/6w97FzDaRfaE4jWz98npWQ?si=53164cee07a843ed" target="_blank"> 🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

  <div class="podcast-card">
    <%= image_tag "shameless.png", alt: "shameless" %>
      <div class="podcast-infos">
        <h2>Shameless</h2>
        <a href="https://open.spotify.com/show/3TupxwKgi0V7iFi248fjAm?si=d02de93d892149f6" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

  <div class="podcast-card">
    <%= image_tag "sidt.png", alt: "sidt" %>
      <div class="podcast-infos">
        <h2>Should I Delete That?</h2>
        <a href="https://open.spotify.com/show/0EUpx2p1AU30RZmRqDGFem?si=96efb0b0496f48ec" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

  <div class="podcast-card">
    <img src="https://res.cloudinary.com/pippa/image/fetch/h_300,w_300,f_auto/https://assets.pippa.io/shows/611ed86f06c05ef265f40f0c/1681736790108-633e9c400fc116b64e64c334c16b0c9a.jpeg" />
      <div class="podcast-infos">
        <h2>So I Got to Thinking - The Sex and the City Podcast</h2>
        <a href="https://open.spotify.com/show/1gqy7kQZPjKsiW4Fuxs8Ek?si=e3d415c384f047df" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

  <div class="podcast-card">
    <img src="https://assets.pippa.io/shows/61b9ffa71a8cbe89e33cf086/show-cover.jpg" />
      <div class="podcast-infos">
        <h2>The High Low with Pandora Sykes and Dolly Alderton</h2>
        <a href="https://open.spotify.com/show/0B18kAABC9LPfH5K9l19cD?si=a11b28d24b304379" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

  <div class="podcast-card">
    <img src="https://i.scdn.co/image/ab6765630000ba8a5843bab53076112839a0bcfe" />
      <div class="podcast-infos">
        <h2>Unreal: A Critical History of Reality TV</h2>
        <a href="https://open.spotify.com/show/4yvxBOJz7NREUoFqkCdg1P?si=2e8638b1b7694bf6" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

  <div class="podcast-card">
    <img src="https://i.scdn.co/image/ab6765630000ba8a529bb361c013bdff496ee712" />
      <div class="podcast-infos">
        <h2>Was it Real? The Hills Rewatch</h2>
        <a href="https://open.spotify.com/show/1MCv5J3qmzsa8sXvjldoCO?si=0976ce2dceeb4dc0" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

<h2>Health</h2>

  <div class="podcast-card">
    <img src="https://images.squarespace-cdn.com/content/v1/5f68b30d0281c341c4a35f3f/5638d6c5-e530-4bfe-b587-39e1dc0f2912/IMG_9071.jpg" />
      <div class="podcast-infos">
        <h2>Zoe Science & Nutrition</h2>
        <a href="https://open.spotify.com/show/1xDawqT8Cgm6HAnbpFX5T5?si=42a2791b5b254548" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

<h2>Spiritual/ Alternative</h2>

  <div class="podcast-card">
    <img src="https://i.scdn.co/image/ab6765630000ba8aab47bcde818ca96589cac54d" />
      <div class="podcast-infos">
        <h2>Saturn Returns with Caggie Dunlop</h2>
        <a href="https://open.spotify.com/show/3blV16JGdvaT0tT2cCX0xo?si=ad5da5033ff946f8" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

  <div class="podcast-card">
    <img src="https://i.scdn.co/image/ab6765630000ba8ad502429dabd49ab796d0295c" />
      <div class="podcast-infos">
        <h2>Humand Design with Jenna Zoe</h2>
        <a href="https://open.spotify.com/show/4l5Z4PiePEqpjM4EQLCBSr?si=c0a1f53ef47f4bc6" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

  <div class="podcast-card">
    <img src="https://is1-ssl.mzstatic.com/image/thumb/Podcasts125/v4/fc/ed/ef/fcedef53-4e3b-25e4-bbfa-6aa8a862447e/mza_15665073078551822784.jpg/536x0w.webp" />
      <div class="podcast-infos">
        <h2>The Heart of Yoga</h2>
        <a href="https://open.spotify.com/show/0TrWNu56YAv9fbzZ3U8ufU?si=ad32747766fc4b84" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

<h2>Music</h2>

  <div class="podcast-card">
    <img src="https://i.scdn.co/image/ab6765630000ba8a6c54b92fdd2f81d62b8b276e">
      <div class="podcast-infos">
        <h2>Soul Music</h2>
        <a href="https://open.spotify.com/show/0yd0MW8wIl6eCkhvmrtHCz?si=16dedc3db7784f46" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

  <div class="podcast-card">
    <img src="https://podfollow.s3.eu-west-1.amazonaws.com/thumb/82eac6b3841c9a4ed73d1244e3aa4ccba163c52f-300.jpg">
      <div class="podcast-infos">
        <h2>Sidetracked with Annie and Nick</h2>
        <a href="https://open.spotify.com/show/56ajfwDQsMxJmWGbRR9O4j?si=5a51d88b659f4d1c" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

    <div class="podcast-card">
    <%= image_tag "hcpod.png", alt: "hcpod" %>
      <div class="podcast-infos">
        <h2>HCPod Original</h2>
        <a href="https://open.spotify.com/show/23lyEYXPCRhFjQL2XKr70N?si=9a84074f3ff843d0" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

<h2>Other</h2>

 <div class="podcast-card">
    <img src="https://is1-ssl.mzstatic.com/image/thumb/Podcasts126/v4/58/e1/0a/58e10a7f-294b-d522-9fb0-161db7f34b32/mza_138662559123184885.jpeg/536x0w.webp" />
      <div class="podcast-infos">
        <h2>Dirty Mother Pukka with Anna Whitehouse</h2>
        <a href="https://open.spotify.com/show/5f2dP1jR7pYrhGRzz5NMKy?si=77a7c4ca24ef4e5b" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

   <div class="podcast-card">
    <img src="https://cdn.prod.website-files.com/5f7c46754748a12da6217b52/64f588e5eb6eb8fc844e9456_Changes_S9_Main_1x1-p-800.jpg" />
      <div class="podcast-infos">
        <h2>Changes with Annie Macmanus</h2>
        <a href="https://open.spotify.com/show/0kiuqLDQ8wXGFeblBYyTiS?si=86ea1743fe9549b0" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

 <div class="podcast-card">
    <img src="https://is1-ssl.mzstatic.com/image/thumb/Podcasts126/v4/83/6a/6c/836a6cd9-4b89-76b0-adbc-2c6982cc4654/mza_9280420301220827052.jpg/536x0w.webp" />
      <div class="podcast-infos">
        <h2>Big Fish with Spencer Matthews</h2>
        <a href="https://open.spotify.com/show/4Qdm1Yx84PT8rUDR6FMNaB?si=8a9db04d0eae46c2" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

  <div class="podcast-card">
    <img src="https://i.scdn.co/image/ab6765630000ba8a61a07faf26b79b30422ab63f">
      <div class="podcast-infos">
        <h2>The Gurls Talk Podcast</h2>
        <a href="https://open.spotify.com/show/39uNfujSpWRmUYFpw9zkSw?si=a0a99a933d2e4bd6" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>

   <div class="podcast-card">
    <img src="https://i.scdn.co/image/ab6765630000ba8aac1842b3cdbc3d530982ede7">
      <div class="podcast-infos">
        <h2>Working Hard, Hardly Working</h2>
        <a href="https://open.spotify.com/show/1Uh7KMBji1BptMsUS4tNNM?si=3130bbc5ece943c8" target="_blank">🔗Listen on Spotify</a>
        <p>Description from me</p>
    </div>
  </div>



</div>
