<h1>Components I am proficient in 👩🏻‍💻</h1>
<div class="page-container">
<div class="scrollable-container">
  <div class="tech-scrollable-container">

    <div class="grid-container">
      <div class="grid-item">
        <h2>CSS</h2>
        <%= image_tag "CSS.jpg", alt: "CSS" %>
      </div>

    <div class="grid-item">
      <h2>SCSS</h2>
      <%= image_tag "SCSS.png", alt: "SCSS" %>
    </div>

    <div class="grid-item">
      <h2>Figma</h2>
      <%= image_tag "figma.png", alt: "Figma" %>
    </div>

    <div class="grid-item">
      <h2>HTML</h2>
      <%= image_tag "html.png", alt: "HTML" %>
    </div>

  <div class="grid-item">
      <h2>JavaScript</h2>
      <%= image_tag "JS.jpg", alt: "JavaScript" %>
    </div>

  <div class="grid-item">
      <h2>OOP</h2>
      <%= image_tag "OOP.jpg", alt: "OOP" %>
    </div>

    <div class="grid-item">
      <h2>Ruby</h2>
      <%= image_tag "ruby.jpg", alt: "Ruby" %>
    </div>

  <div class="grid-item">
      <h2>Ruby on Rails</h2>
      <%= image_tag "rails.png", alt: "Rails" %>
    </div>

  <div class="grid-item">
      <h2>SQL</h2>
      <%= image_tag "SQL.png", alt: "SQL" %>
    </div>


  <div class="grid-item">
      <h2>GitHub</h2>
      <%= image_tag "github.jpg", alt: "GitHub" %>
    </div>

    <div class="grid-item">
      <h2>Heroku</h2>
      <%= image_tag "heroku.png", alt: "Heroku" %>
    </div>
    </div>
  </div>

  <h1>Components I am now learning in my spare time⌛</h1>

  <div class="tech-scrollable-container">

    <div class="grid-container">
      <div class="grid-item">
        <h2>CSS</h2>
        <%= image_tag "CSS.jpg", alt: "CSS" %>
      </div>

    <div class="grid-item">
      <h2>SCSS</h2>
      <%= image_tag "SCSS.png", alt: "SCSS" %>
    </div>

    <div class="grid-item">
      <h2>Figma</h2>
      <%= image_tag "figma.png", alt: "Figma" %>
    </div>

    <div class="grid-item">
      <h2>HTML</h2>
      <%= image_tag "html.png", alt: "HTML" %>
    </div>

  <div class="grid-item">
      <h2>JavaScript</h2>
      <%= image_tag "JS.jpg", alt: "JavaScript" %>
    </div>

  <div class="grid-item">
      <h2>OOP</h2>
      <%= image_tag "OOP.jpg", alt: "OOP" %>
    </div>

    <div class="grid-item">
      <h2>Ruby</h2>
      <%= image_tag "ruby.jpg", alt: "Ruby" %>
    </div>

  <div class="grid-item">
      <h2>Ruby on Rails</h2>
      <%= image_tag "rails.png", alt: "Rails" %>
    </div>

  <div class="grid-item">
      <h2>SQL</h2>
      <%= image_tag "SQL.png", alt: "SQL" %>
    </div>


  <div class="grid-item">
      <h2>GitHub</h2>
      <%= image_tag "github.jpg", alt: "GitHub" %>
    </div>

    <div class="grid-item">
      <h2>Heroku</h2>
      <%= image_tag "heroku.png", alt: "Heroku" %>
    </div>
    </div>
  </div>


</div>
</div>
