<h1>Components I am proficient in 👩🏻‍💻</h1>

  <div class="tech-scrollable-container">

    <div class="tech-grid-container">
      <div class="tech-grid-item">
        <h2>CSS</h2>
        <%= image_tag "CSS.png", alt: "CSS"%>
      </div>


    <div class="tech-grid-item">
      <h2>SCSS</h2>
      <%= image_tag "scss.png", alt: "SCSS" %>
    </div>

    <div class="tech-grid-item">
      <h2>Figma</h2>
      <%= image_tag "figma.png", alt: "Figma" %>
    </div>

    <div class="tech-grid-item">
      <h2>HTML</h2>
      <%= image_tag "html.png", alt: "HTML" %>
    </div>

  <div class="tech-grid-item">
      <h2>JavaScript</h2>
      <%= image_tag "js.png", alt: "JavaScript" %>
    </div>

  <div class="tech-grid-item">
      <h2>OOP</h2>
      <%= image_tag "OOP.png", alt: "OOP" %>
    </div>

    <div class="tech-grid-item">
      <h2>Ruby</h2>
      <%= image_tag "ruby.png", alt: "Ruby" %>
    </div>

  <div class="tech-grid-item">
      <h2>Rails</h2>
      <%= image_tag "rails.png", alt: "Rails" %>
    </div>

  <div class="tech-grid-item">
      <h2>SQL</h2>
      <%= image_tag "SQL.png", alt: "SQL" %>
    </div>


  <div class="tech-grid-item">
      <h2>GitHub</h2>
      <%= image_tag "github.png", alt: "GitHub" %>
    </div>

    <div class="tech-grid-item">
      <h2>Heroku</h2>
      <%= image_tag "heroku.png", alt: "Heroku" %>
    </div>
    </div>
  </div>

  <h1>Components I am now learning in my spare time⌛</h1>

  <div class="tech-scrollable-container">

    <div class="tech-grid-container-2">
      <div class="tech-grid-item">
        <h2>React</h2>
        <%= image_tag "react.png", alt: "React" %>
      </div>

    <div class="tech-grid-item">
      <h2>TypeScript</h2>
      <%= image_tag "typescript.png", alt: "TypeScript" %>
    </div>

    <div class="tech-grid-item">
      <h2>Copilot</h2>
      <%= image_tag "copilot.svg", alt: "Copilot" %>
    </div>

    <div class="tech-grid-item">
      <h2>Vue.js</h2>
      <%= image_tag "vue.png", alt: "Vue.js" %>
    </div>

  <div class="tech-grid-item">
      <h2>Python</h2>
      <%= image_tag "python.png", alt: "Python" %>
    </div>

  <div class="tech-grid-item">
      <h2>Node.js</h2>
      <%= image_tag "node-js.png", alt: "Node.js" %>
    </div>
  </div>
  </div>

  <h1>I'm also always open to suggestions on other ideas for how to update my Tech Stack➕</h1>
