<div class="travel-page">
  <h1>Travel✈️</h1>

    <div class="card-container2">
      <p>🍀I am so lucky and have been able to travel to lots of amazing places. It's one of the things that brings me most joy and I always try to get into the local culture. I always learn so much and feel enriched to experience new places and things, it always offers new perspective🔎.
      I've put together some tips based on where I have been so far, hope you enjoy!</p>
    </div>

  <h2>2024</h2>

    <div class="travel-grid-container2024">

      <div class="travel-grid-item">
        <%= image_tag "Palermo.jpg", alt: "Palermo"%>
        <h3>Palermo</h3>
      </div>

      <div class="travel-grid-item">
        <%= image_tag "tulum.png", alt: "Tulum"%>
        <h3>Tulum</h3>
      </div>

  <div class="travel-grid-item">
        <%= image_tag "holbox.png", alt: "Holbox"%>
        <h3>Holbox</h3>
      </div>

    </div>

  <h2>2023</h2>

    <div class="travel-grid-container2023">

      <div class="travel-grid-item">
        <%= image_tag "malta.png", alt: "Malta"%>
        <h3>Malta</h3>
      </div>

      <div class="travel-grid-item">
        <%= image_tag "bali.png", alt: "Bali"%>
        <h3>Bali</h3>
      </div>

      <div class="travel-grid-item">
        <%= image_tag "channelislands.png", alt: "Channel Islands"%>
        <h3>Channel Islands</h3>
      </div>

      <div class="travel-grid-item">
        <%= image_tag "warsaw.png", alt: "Warsaw"%>
        <h3>Warsaw</h3>
      </div>

      <div class="travel-grid-item">
        <%= image_tag "marrakech.png", alt: "Marrakech"%>
        <h3>Marrakech</h3>
      </div>

      <div class="travel-grid-item">
        <%= image_tag "ibiza.png", alt: "Ibiza"%>
        <h3>Ibiza</h3>
      </div>

      <div class="travel-grid-item">
        <%= image_tag "paris.png", alt: "Paris"%>
        <h3>Paris</h3>
      </div>

      <div class="travel-grid-item">
        <%= image_tag "telaviv.png", alt: "Tel Aviv"%>
        <h3>Tel Aviv</h3>
      </div>

      <div class="travel-grid-item">
        <%= image_tag "oslo.png", alt: "Oslo"%>
        <h3>Oslo</h3>
      </div>

    </div>

  <h2>2022</h2>

    <div class="travel-grid-container2022">

      <div class="travel-grid-item">
        <%= image_tag "lisbon.png", alt: "Lisbon"%>
        <h3>Lisbon</h3>
      </div>

      <div class="travel-grid-item">
        <%= image_tag "stockholm.png", alt: "Stockholm"%>
        <h3>Stockholm</h3>
      </div>

      <div class="travel-grid-item">
        <%= image_tag "doha.png", alt: "Doha"%>
        <h3>Doha</h3>
      </div>

      <div class="travel-grid-item">
        <%= image_tag "sanvito.png", alt: "San Vito Lo Capo"%>
        <h3>San Vito Lo Capo</h3>
      </div>

      <div class="travel-grid-item">
        <%= image_tag "gibraltar.png", alt: "Gibraltar"%>
        <h3>Gibraltar</h3>
      </div>

      <div class="travel-grid-item">
        <%= image_tag "mykonos.png", alt: "Mykonos"%>
        <h3>Mykonos</h3>
      </div>

      <div class="travel-grid-item">
        <%= image_tag "athens.png", alt: "Athens"%>
        <h3>Athens</h3>
      </div>

      <div class="travel-grid-item">
        <%= image_tag "barcelona.png", alt: "Barcelona"%>
        <h3>Barcelona</h3>
      </div>

      <div class="travel-grid-item">
        <%= image_tag "amsterdam.png", alt: "Amsterdam"%>
        <h3>Amsterdam</h3>
      </div>

    </div>

    <h2>2021</h2>

    <div class="travel-grid-container2021">

      <div class="travel-grid-item">
        <%= image_tag "copenhagen.png", alt: "Copenhagen"%>
        <h3>Copenhagen</h3>
      </div>


  </div>
</div>
