<!DOCTYPE html>
<html>
  <head>
    <title>Grace's Website</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag "favicon.ico.png" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
</style>



  </head>

  <body>
    <div class="navbar">
      <%= link_to root_path, class: "navbar-brand" do %>
      <%# <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo.png", alt: "Logo" %>
    <% end %>

    <div class="navbar-items">
        <%# <a class="active" href="#home">Home</a> %>
        <a href="about">About</a>
        <a href="tech_stack">Tech Stack</a>
        <a href="travel">Travel</a>
        <a href="finance_tips">Finance</a>
        <a href="yoga_tips">Yoga</a>
        <a href="books">Reading Recs</a>
        <a href="podcasts">Podcast Recs</a>
        <a href="contact">Contact</a>
    </div>

      <div class="navbar-links">
        <%# <a href="#"><i class="fas fa-envelope"></i></a> %>
        <a href="mailto:gracemthompson91@gmail.com" class="nav-link"><i class="fas fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/grace-m-thompson/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/gracemthompson_/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/Grace-MT" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
      </div>

    </div>

  <div class="content-wrapper">

    <%= yield %>

    <footer>
      Made with 🤍
    </footer>

  </div>


  </body>
</html>
